/*
body { 
    margin: 100; font-family: Arial, Helvetica, sans-serif;
    background-image: url(gambar/bg1.png);
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* navbar*/


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav ul {
    display: flex;
    position: relative;
    justify-content: content;
    align-items: center;
}
nav ul li {
    position: relative;
    list-style: none;
    line-height: 15px;
    text-decoration: none;
    padding: 10px 5px;
    font-size: 20px;
    color: black;
    }
    
    nav ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    transition: 0.6s;
    color: black;
    }
nav .logo{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.nav-items li {
    list-style: none;
    margin-right: 0px;
    font-weight: 500;
  }
/*
.nav-items li:nth-last-of-type(1){
    margin: 0;
} */

nav-item li a{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none; 
    color: #000000; 
    display: none;
}

.header-container{
    /*height: calc(100vh - 10 px); */
    display: flex;
    align-items: center;
    /*padding-bottom: 160px;*/
    margin-bottom: 160px;
    
}


.home-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 57px;
    line-height: 87px;
    margin-bottom: 5px;
}

header p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 15px;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.home-content h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 79px;
    margin-bottom: 25px;
}
  
.home-content p {
    font-family: "Poppins" sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 25px;
}

.home-content a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  
    background: #0083FF;
    border-radius: 15px;
    padding: 8px 30px;
    display: inline-block;
    transition: 200ms;
}

.home-content a:hover {
    background: #98D1D2;
    color: #FFFCED;
    transform: translateY(-8px);
}

.hero-image{
    position: relative;
}

.hero-image  img{
    width: 650px;
    transition: 300ms;
    position: relative;
    z-index: 100;
    padding: 100px;
}

.hero-image img:hover{
    transform: rotate(-6deg);
}

header a{
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 48px;
    display: inline-block;
    transition: 100ms;
}

header a:hover{
    transform: translateY(-8px);
}

header .hero-image{
    position: relative;
}

header .hero-image img{
    transition: 300ms;
    position: relative;
    z-index: 100;
}

header .hero-image img:hover{
    transform: rotate(-6deg);
}

.other-section h2{
    background-image: url(gambar/bgother.svg);
    background-position: top;
    background-size: cover;
    font-family: "Poppins" serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    color: white;
}

.about2-content a{
    color: white;
    font-size: 20px;
    text-decoration: none;
  
    background: #0083FF;
    border-radius: 15px;
    padding: 8px 30px;
    display: inline-block;
    transition: 200ms;
}

.about-section{
    background-color: white;
}

.about-section h2 {
    font-family: "Poppins" sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    text-align: left;
    padding-top: 70px;
}
  
.about2-description p {
    font-size: 20px;
    line-height: 43px;
    text-align: left;
    width: 778px;
    height: 212px;
} 
  
.about2-description p#second {
    margin-right: 75px;
}
.about2-content {
    display: flex;
    align-items: center;
}
  
.about2-content img {
    width: 420px;
    margin-bottom: 200px;
    margin-right: 2000px;
}

.layanan2-content a{
    color: white;
    font-size: 20px;
    text-decoration: none;
  
    background: #0083FF;
    border-radius: 15px;
    padding: 8px 30px;
    display: inline-block;
    transition: 200ms;
}

.layanan-section{
    background-color: white;
}

.layanan-section h2 {
    font-family: "Poppins" sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    text-align: left;
    margin-bottom: 25px;
}
  
.layanan2-description p {
    font-size: 20px;
    line-height: 43px;
    text-align: left;
    width: 778px;
    height: 212px;
    padding-bottom: 40px;
} 

.layanan2-content {
    display: flex;
    align-items: center;
}
  
.layanan2-content img {
    width: 420px;
    margin-bottom: 200px;
    margin-right: 2000px;
}

.contact-content .contact-description h3 {
    width: 450px;
    height: 80px;
    margin-bottom: 25px;
    margin-left: 250px;
  }

.other-section #instruction {
    background-color: white;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    padding-top: 136px;
    padding-bottom: 124px;
}

.instruction-content h2 {
    margin-top: 15px;
    margin-bottom: 80px;   
}
  
  .instruction-description {
    display: flex;
    margin: 0 auto;
}

.instruction-description h3 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 52px;
    margin-bottom: 55px;
    margin-left: 10px;
}

.instruction-description img {
    width: 396px;
    height: 345px;
  }
  
  .rekomendasi-header {
      display: flex;
      background-color: #0083FF ;
      background-size: cover;
      border-bottom-left-radius: 55px;
      border-bottom-right-radius: 55px;
      line-height: 52px;
  }

  .rekomendasi-header h3 {
      color: white;
      font-family: "Poppins" sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      margin-top: 5px;
      margin-left: 185px;
      margin-bottom: 25px;
  }

  .rekomendasi-header h3#harga {
    margin-left: 215px;
}

  .rekomendasi-header img {
    margin-top: 55px;
    margin-left: 175px;
  }

  .rekomendasi-content h2 {
      margin-top: 25px;
      margin-bottom: 25px;
  }
  .rekomendasi-description img {
    width: 237px;
    height: 184px;
  }

  .rekomendasi-description h3 {
      margin-bottom: 15px;
      width: fit-content;
      padding: 7px;
      color: white;
      background: #0083FF;
      border-radius: 20px;
      font-size: 15px;
  }

  .rekomendasi-description p#fasilitas {
      color: #B9B6B6;
  }
 
  .rekomendasi-description {
      display: flex;
      margin: 0 auto;
  }

  .rekomendasi-description h3 img#button {
      position: left;
  }

  .kosan2 {
      margin-left: 50px;
  }

  .kosan3 {
    margin-left: 50px;
}

.contact-section{
    background: url("gambar/Rectangle\ 18.png");
    background-position: right;
    margin-left:  0 auto;
    background-repeat: no-repeat;
    background-size: contain;
}

.kontak-content{
    display: flex;
    margin: 0 auto;
}

table{
    margin-left: 450px;

}
#spasi{
    text-align: center;
    margin-left: 10000px;
    color: white;
    margin-bottom: 1000px;
    padding-bottom: 50px;
}

#space{
    text-align: center;
    margin-left: 10000px;
    color: white;
    margin-top: 0px;
}

  input[type=text] {
    font-size: 16pt;
    border: none;
    padding: 5px;
    margin: 10px;
    border-bottom: 2px solid black;
    width: 100%;
    height: 50%;
  }

  input[type=email] {
    font-size: 16pt;
    border: none;
    padding: 5px;
    margin: 10px;
    border-bottom: 2px solid black;
    width: 100%;
    height: 50%;
  }

  textarea {
      font-size: 12pt;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin-left: 7px;
    border: none;
    border-bottom: 2px solid black;
  }

input[type=submit]{
    background: #0083FF;
    color: white;
    font-size: 9pt;
    width: 18%;
    height: 50%;
    padding: 10px;
    border: none;
    border-radius: 60px;
    cursor: pointer;
  }

  .contact-section h2, h3{
    margin-bottom: 50px;
  }

  .contact-section h3, label{
    margin-bottom: 70px;
  }

  nav ul li ul#dropdown {
    width: 250%;
  }
  